plugins:
  - name: "aws"
    enabled: true
    description: "Check for AWS good practices"
    exclude:
     - AWS_S3_001



aws:
  enabled: true
  account:
    profile: ""
    sso: false
    region: "eu-west-3"
    
      
